{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div id="general"> 
    <div id="contenedor_izquierda">
        <div>
            <a href="{%     url 'index'%}" class="btn btn-warning">Volver</a>
            <a href="{% url 'ingresarGasto'  %}" class="btn btn-primary">Agregar Gasto</a>
            </div>
        
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Monto</th>
                    <th>Rut</th>
                    <th>Nombre Completo Residente</th>
                    <th>correo</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
        
        <tbody>
            {% for g in gasto %}
                <tr>
                    <td>{{ g.id_gasto_comun}}</td>
                    <td>{{ g.monto }}</td>
                    <td>{{ g.residente.rut}}</td>
                    <td>{{ g.residente.nombre_completo}}</td>
                    <td>{{ g.residente.correo_usuario}}</td>
                    <td>
                        <a href="{% url "UpGasto" g.id_gasto_comun %}" class="btn btn-warning">Modificar</a>
                        <form action="{% url 'eliminargasto' g.id_gasto_comun %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}    
        </tbody>
    </table>
    </div>
    <div id="contenedor_derecha">

    </div>
    </div>
    
</div>
</body>
</html>