#general{
    border:1px solid blue;
    height: 600px;
}
#contenedor_izquierda{
    
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
   
    border-radius: 7px;

    margin-top: 80px;
    align-items: center;

}

.buttons{
    background-color: aliceblue;
    border-radius: 15px;
    border: 1px solid blue;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 200px;
    margin-top: 50px;
    margin: 10px;
}
.buttons a{
    margin: 10px;
}